<h1>About the Squad</h1>
<h3>The Squad is a friends list for gamers who may not have met each other without such a site. We have rules and laws of conduct that we think helps keep this a place for everyone as long as they are not descriminatory of people belifies, race, identity, background or any other cultural topic. This does not mean we will protect your "right" to be hateful because its your belief. Now that we have that out of the way, welcome. <br> This site is for all types of pc gamers on Steam (we will be expanding to console shortyly). RPG players and Shooters alike are welcome. You can list the games you like and if another user likes/plays the same games or type they may send you a friend request. All friend requests sent by memebers are required to have a message sent with them stating you found them on this site. This is to ensure you know you arent adding someone completely random.</h3>
<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
              Title
            </div>
            <div class="card-block">
                <div class="card-media-block">
                    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2017-04/25/4/enhanced/buzzfeed-prod-fastlane-01/enhanced-23831-1493109569-1.jpg" class="card-media-image">
                    <div class="card-media-description">
                        <span class="card-media-title">
                            Location
                        </span>
                        <span class="card-media-text">
                            Organizer:
                        </span>
                    </div>
                </div>
                <div class="card-text">
                  Description <br>
                  Description <br>
                  Description

                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">Event Page</button>
            </div>
        </div>
    </div>
</div>
