<h2>Squad Roster</h2>
<clr-datagrid>
  <clr-dg-column *ngIf="currentRoute === '/admin'">Edit</clr-dg-column>
  <clr-dg-column>Username</clr-dg-column>
  <clr-dg-column>Genre</clr-dg-column>
  <clr-dg-column>Game List</clr-dg-column>

  <clr-dg-row *clrDgItems="let player of players | async" >
    <clr-dg-cell *ngIf="currentRoute === '/admin'">
      <app-edit-player [selectedPlayer]="player"></app-edit-player>
      </clr-dg-cell>
    <clr-dg-cell (click)="goToDetailPage(player)" >{{player.username}}</clr-dg-cell>
    <clr-dg-cell>{{player.genre}}</clr-dg-cell>
    <clr-dg-cell>{{player.gameList}}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer></clr-dg-footer>
</clr-datagrid>
