
<header class="header-6">
    <div class="branding">
      <a href="#" class="brand-logo"><img src="https://i.imgur.com/0Rz5xHg.png" height="200px" width="300px" position="fixed" alt="logo"></a>
    </div>
    <div class="header-nav">
        <a class="nav-link nav-text" routerLink="about">About</a>
        <a class="nav-link nav-text" routerLink="roster">Squad Roster</a>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">

        </a>
    </div>
</header>
<h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>

<div *ngIf="!(authService.user | async)">
  <input type="text" [(ngModel)]="email" placeholder="email">
  <input type="password" [(ngModel)]="password" placeholder="password">

  <button (click)="signup()" [disabled]="!email || !password">
    Signup
  </button>

  <button (click)="login()" [disabled]="!email || !password">
    Login
  </button>
</div>

<button (click)="logout()" *ngIf="authService.user | async">
  Logout
</button>




<div class="container">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div>
<footer height="400px" class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer>
