
<header class="header-6">
    <div class="branding">
      <a href="#" class="brand-logo"><img src="https://i.imgur.com/0Rz5xHg.png" height="200px" width="300px" position="fixed" alt="logo"></a>
    </div>
    <div class="header-nav">
        <a class="nav-link nav-text" routerLink="about">About</a>
        <a class="nav-link nav-text" routerLink="roster">Squad Roster</a>
    </div>
    <div class="header-actions">
      <label class="title">
        <h4 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h4>
      </label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="logout()" *ngIf="authService.user | async">
      Logout
    </button>
    <div class="login-group">
        <input  type="text" [(ngModel)]="email" placeholder="email">
        <input class="password" type="password" [(ngModel)]="password" placeholder="password">
        </div>
        <button type="submit" class="btn btn-primary" (click)="login()" [disabled]="!email || !password">
          Login
        </button>
        <button type="submit" class="btn btn-primary" (click)="signup()" [disabled]="!email || !password">
          Signup
        </button>


</header>




<div class="container">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div>
<footer height="400px" class="footer">
  <div class="container">

    <a *ngIf="authService.user | async" class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer>
